{
  "extends": ["@oursky"],
  "rules": {
    "no-restricted-imports": ["error", {
      "paths": [
        {
          "name": "react-native",
          "importNames": ["Text"]
        }
      ]
    }]
  }
}
