sudo: required
matrix:
  include:
    - language: node_js
      cache:
        directories:
          - node_modules
      env:
        - secure: "AkGE0/YLpUCF9vqAdPy8GdE5kzbVTKERHMdgmDqGOsBDJfA4Ytb2gCR2voksQR5WM4QQzMR+JPuqjM+gN7UH4vyPzn8CRmp9TDgyeeLaHI7nUGwKpnuD6qGq4eJKLkwNfkGJm1fdlOOGOA1C7Qg9YhICyAlxkClSjUvgip9XGfnIZAsSfzT5YEFq9CZnCy3sFJYA0kYb4bkhwZzYkaAog+VVdbRF/WCKrGDljGrLltDyP+pHMKG3fR9UVAAzxSnRmLFgBcgLmqFZSGqB+t/EiuCoeTsKECj7T2rPrbhETpFrdE6oKsXE19Ngam+4/0slAE6cy4wm9KSQqHNq60mhCCSlUt/NdmZXM6SPXKgXRSqJXep2JtwyEI2J6Y/NGPw2k28wE7hZWkXOx/zhcDKE1Ix8srert89EJctApPEjOsFltumGHQurY5b3S6ugucM3ndNLHR9EmnW+i5VT+RkmN7DlCChIpfS3jP3eNz1OxfVQpQcVMSgijngzh/CtNlu+3zpx3VDd1UplBIo8ER/uyZMdnVwINMnlI5TtTtx3vzZAQ0AIVkizDK/sWtRYX8ZAf7Tsyz8b3Ln++pFwquy6Deqf3H9Pq53lNLm4CE9VieubymO88C3Y1w96fpLMUqgkjsG6ABnQrnUA/huBURHG66bJiDcjt9CukKYqnBwu2xo="
      node_js: '8'
      before_install:
        - npm i -g yarn
      install:
        - yarn
      script:
        - yarn ci-check
      before_deploy:
        - yarn build
      deploy:
        provider: npm
        email: cychiuae@connect.ust.hk
        api_key: $NPM_PUBLISH_TOKEN
        skip_cleanup: true
        on:
          tags: true

    - language: objective-c
      os: osx
      osx_image: xcode9.4
      env:
        - TRAVIS_NODE_VERSION="8.9.0"
      before_install:
        - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
        - npm i -g yarn
        - npm i -g react-native-cli
      install:
        - yarn
      script:
        - ./scripts/integration_test.sh ios

    - language: android
      jdk: oraclejdk8
      android:
        components:
          - tools
          - tools
          - platform-tools
          - build-tools-27.0.3
          - android-22
          - extra-android-support
          - extra-android-m2repository
          - extra-google-m2repository
          - sys-img-armeabi-v7a-android-22
        licenses:
          - android-sdk-preview-license-.+
          - android-sdk-license-.+
          - google-gdk-license-.+
      cache:
        directories:
          - $HOME/.gradle/caches/
          - $HOME/.gradle/wrapper/
          - $HOME/.android/build-cache
      env:
        - TRAVIS_NODE_VERSION="8.9.0"
      before_install:
        - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
        - npm i -g yarn
        - npm i -g react-native-cli
        - yes | sdkmanager "platforms;android-27"
      install:
        - yarn
      script:
        - ./scripts/integration_test.sh android

notifications:
  slack:
    rooms:
      secure: Zuet7ng4N8GQLBL9EG9sGQa/DgC3ckzhhZvTDUlHfkgtMQz3Eeq7fY84pk5gwZYnfJwlXd1Jwfeny9QmuFnMOk2NpJrxNgFGWn8oAfZL1ubC6ZNjQXRnf9DDCDedPL9g1X+IF09UuKq4cStcwcq6+iNtnUNBMQewRyj7eI2ejrfAYzegqihLH2W7OWfwCRRL8QhSDVhYQI0pCVYsfv3POqwX9Id4F2z20UvRfdJdd9SFmK5kD0+TFo5jhIWEONOlaIOE6EdKIyB04MBOw8DkhBfr061gtgvnZIUaq4Ss2DxIjX0aI5pQWw65jwP5bFwzEv2oKf0koHixuNJt/O+TB0WWQbdQH+tKRrX+Q+zkZlsM3+jNq7Chqfr/MBRAxyDV4aqcA0CEhRJXN0B25wxwhXTLSx3gJm4D54RhPexuKss5dH7f6CT1+lTt+Ca5VXfetTkdHTfzlPncARpOYtr2qpizCCLV7D4jF0CUmmiu1UezZORgV2K8Vif8SwBO9Pc4PWj8Lit0McPDTBb4Tj16RPSXbw2P5KOYa9Mb4kSjcwZ186h5YXQ1U8CXqzj4sjWhvY5NuLxKi4Ito6JikFSRMS2Ydc/uaHMCzqOFIkqHvuJ+hHY5wADHo5Fm4G07DbCHKp2Y7fHGVCTpgcnJv7mtjS3zEBKiWVD2R01KhFZ7FWc=
